<div class="container text-center fw-lighter m-5">
  <h1> Welcome to my game ranking system <h1>

  <p class="fw-lighter mt-4 fs-4">This is a Ruby on Rails application where users can rank their top two favorite video games out of a predetermined list of 10 games.</p>

  <p class="fw-lighter mt-4 fs-4"><b>Game one</b> as <b>Game two</b> will give just <b>1 point</b>.</p>

  <p class="fw-lighter mt-4 fs-4">Vote wisely! Enjoy!</p>

  <%= link_to "ENTER", users_path, class: "fs-4" %>
</div>